<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%.-1level|%-40.40logger{0}|%msg%n</pattern>
        </encoder>
    </appender>

    <!--TODO Change to error-->
    <logger name="uk.ac.ebi.pride.jmztab" level="debug"/>

    <root level="debug">
        <appender-ref ref="console"/>
    </root>

</configuration>
